<p-toast></p-toast>

<div class="card">
    <p-table
        #dt
        [value]="seasons"
        [rows]="5"
        [paginator]="false"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Exibindo de {first} ate {last}"
        [showCurrentPageReport]="false"
    >
        <ng-template pTemplate="caption">
            <h1 class="p-m-0">Temporadas de {{ serie.name }}</h1>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">
                    Nome<p-sortIcon field="episode_name"></p-sortIcon>
                </th>
                <th pSortableColumn="episodes_whatcheds" style="text-align: center">
                    Episodios assistidos<p-sortIcon
                        field="episodes_whatcheds"
                    ></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-season>
            <tr>
                <td>
                    <a [routerLink]="['/season', season.id]">{{ season.name }}</a>
                </td>
                <td style="text-align: center">
                    {{ season.episodes_watcheds }}/{{ season.total_episodes }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total: {{ seasons ? seasons.length : 0 }} temporadas
            </div>
        </ng-template>
    </p-table>
</div>
