<p-toast></p-toast>
<div class="card">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <p-table
        #dt
        [value]="episodes"
        [rows]="10"
        [paginator]="true"
        [(selection)]="selectedEpisodes"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Exibindo de {first} ate {last}"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <h1 class="p-m-0">Episodios</h1>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">
                    Nome<p-sortIcon field="episode_name"></p-sortIcon>
                </th>
                <th pSortableColumn="time" style="text-align: center">
                    Tempo de episodio<p-sortIcon field="time"></p-sortIcon>
                </th>
                <th pSortableColumn="watched" style="text-align: center">
                    Assistido?<p-sortIcon field="watched"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-episode>
            <tr>
                <td>{{ episode.name }}</td>
                <td style="text-align: center">{{ episode.time }} minutos</td>
                <td style="text-align: center">{{ episode.watched }}</td>
                <td>
                    <p-inputSwitch
                        (onChange)="handleChange($event, episode.id)"
                        [trueValue]="!episode.watched"
                    ></p-inputSwitch>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total: {{ episodes ? episodes.length : 0 }} episodios
            </div>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
